<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.DeShopMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.DeShop">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="shop_description" jdbcType="VARCHAR" property="shopDescription" />
    <result column="shop_deliveryTime" jdbcType="INTEGER" property="shopDeliverytime" />
    <result column="shop_score" jdbcType="DECIMAL" property="shopScore" />
    <result column="shop_serviceScore" jdbcType="DECIMAL" property="shopServicescore" />
    <result column="shop_foodScore" jdbcType="DECIMAL" property="shopFoodscore" />
    <result column="shop_rankRate" jdbcType="DECIMAL" property="shopRankrate" />
    <result column="shop_minPrice" jdbcType="DECIMAL" property="shopMinprice" />
    <result column="shop_deliveryPrice" jdbcType="DECIMAL" property="shopDeliveryprice" />
    <result column="shop_ratingCount" jdbcType="INTEGER" property="shopRatingcount" />
    <result column="shop_sellCount" jdbcType="INTEGER" property="shopSellcount" />
    <result column="shop_bulletin" jdbcType="VARCHAR" property="shopBulletin" />
    <result column="shop_avatar" jdbcType="VARCHAR" property="shopAvatar" />
  </resultMap>
</mapper>